/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.5rem;
  border-radius: 10px;
  box-shadow: 1px 2px 17px -8px #000;
}

.navbar h1 {
  font-size: 2rem;
}

.navbar aS button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.navbar button:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: rgb(31, 31, 31);
}
